<!DOCTYPE HTML>
<html>
    <head>
        <title> STUDENT HOME PAGE </title>
    </head>

    <body>
        <h1>Registered courses</h1>
        {% for detail in course_list %}
            <h3>{{ detail.name }}</h3>
        {% endfor %}

        <h1>Couses Calender</h1>
        {% for detail in course_calenders %}
            <h3>{{detail.course.name}} : {{detail.date}} </h3>
            <p> {{detail.content}}</p>
        {% endfor %}

        <h1>Courses Offered</h1>
        {% for detail in course_offered_list %}
            <h3>{{detail.name}}</h3>
        {% endfor %}

        <h1>
    </body>

</html>